<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>測試網頁</title>
<!-- 連結思源中文及css -->
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC" rel="stylesheet">
<link href="/css/menu.css" rel="stylesheet"/>  
<link href="/css/main.css" rel="stylesheet"/>      
<!------------------------->
</head>
   
<body>
    <!--**************************-->
    <div class="container">    
        <!--~~~~~~~~~~~~~~~~~-->
        <div class="header">           
        </div>        
        
        <!--~~~~~~~~~~~~~~~~~-->

        <ul class="drop-down-menu">

            <li><a href="#">顧客</a>
                <ul>
                    <li><a href="#">帳號</a>
                        <ul>
                            <li><a href="#">新增</a>
                            </li>
                            <li><a href="#">刪除</a>
                            </li>
                            <li><a href="#">編輯</a>
                            </li>
                        </ul>
                    </li>

                    <li><a href="#">顧客資料</a>
                        <ul>
                            <li><a href="#">新增</a>
                            </li>
                            <li><a href="#">刪除</a>
                            </li>
                            <li><a href="#">編輯</a>
                            </li>   
                        </ul>
                    </li>
                </ul>
            </li>

            <li><a href="#">營養建議</a>
                <ul>
                    <li><a href="#">營養分析</a>    
                    </li>
                    <li><a href="#">營養紀錄</a>
                    </li>                                      
                </ul>
            </li>

            <li><a href="#">食譜</a>
                <ul>
                    <li><a href="/recipe/add/form">新增</a>
                    </li>
                    <li><a href="/recipe/remove/form">刪除</a>
                    </li>
                    <li><a href="/recipe/edit/no">編輯</a>
                    </li>  
                    <li><a href="/recipe/add/form">審核</a>
                        <ul>
                            <li><a href="/userrecipe/add/form">新增</a>
                            </li>
                            <li><a href="/userrecipe/remove/form">刪除</a>
                            </li>
                            <li><a href="/userrecipe/edit/no">編輯</a>
                            </li>  
                        </ul>
                    </li>                                
                </ul>
            </li>

            <li><a href="#">食材管理</a>
                <ul>
                    <li><a href="#">新增</a>    
                    </li>
                    <li><a href="#">刪除</a>
                    </li>
                    <li><a href="#">編輯</a>
                    </li>                                  
                </ul>
            </li>

            <li><a href="#">健康大小事</a>
                <ul>
                    <li><a href="#">網誌</a>
                        <ul>
                            <li><a href="#">新增</a>
                            </li>
                            <li><a href="#">刪除</a>
                            </li>
                            <li><a href="#">編輯</a>
                            </li>   
                        </ul>    
                    </li>
                    <li><a href="#">心得</a>
                        <ul>
                            <li><a href="#">審核</a>
                            </li>
                            <li><a href="#">新增</a>
                            </li>
                            <li><a href="#">刪除</a>
                            </li>
                            <li><a href="#">編輯</a>
                            </li>   
                        </ul>
                    </li>                              
                </ul>
            </li>

            <li><a href="#">營養小知識</a>
                <ul>
                    <li><a href="#">活動量</a>
                        <ul>
                            <li><a href="#">新增</a>
                            </li>
                            <li><a href="#">刪除</a>
                            </li>
                            <li><a href="#">編輯</a>
                            </li>   
                        </ul>    
                    </li>
                    <li><a href="#">營養分類</a>
                        <ul>
                            <li><a href="/nutrition/add/form">新增</a>
                            </li>
                            <li><a href="/nutrition/remove/form">刪除</a>
                            </li>
                            <li><a href="/nutrition/edit/no">編輯</a>
                            </li>   
                        </ul>
                    </li>                               
                </ul>
            </li>

            <li><a href="#">關於我們</a>
                <ul>
                    <li><a href="#">關於我們</a>
                        <ul>
                            <li><a href="/aboutus/edit/no">編輯</a>
                            </li>   
                        </ul>    
                    </li>
                    <li><a href="#">常見問題</a>
                        <ul>
                            <li><a href="#">新增</a>
                            </li>
                            <li><a href="#">刪除</a>
                            </li>
                            <li><a href="#">編輯</a>
                            </li>   
                        </ul>
                    </li>                              
                </ul>
            </li>

            <li class="sub">         
                <a href="/user/show">使用者</a>          
                <ul>          
                    <li><a href="/user/login/form">登入</a></li>
                    <li><a href="/user/logout">登出</a></li>         
                </ul>
            </li>     
        </ul>
        
        <!--~~~~~~~~~~~~~~~~~--> 
        <div class="content">
            <h2>使用者食譜刪除</h2> 

            <form action = "/userrecipe/remove" method = "post">
                <div class="form">
                    <span class="name">流水號: </span>
                    <span class="value"><input type="text" name="serno"></span>
                    <br/>
                                                    
                    <span class="name"></span>
                    <span class="value"><input type="submit" value="刪除" ></span>    
                </div>    
            </form>    
        </div>       
        
        <!--~~~~~~~~~~~~~~~~~--> 
        <div class="footer">
            NTUB imd, 2019.    
        </div>  
    </div>
    <!--**************************-->    
</body>
   
</html>
